body {
    font-family: Arial, sans-serif;
  }
  
  .card {
    max-width: 400px;
    background-color: rgb(38, 115, 38); /* Updated color to green */
    color: white;
    border-radius: 10px;
    padding: 20px;
  }

  .purple {
    background-color: purple;
  }

  
  .header {
     display: flex;
     align-items: center; 
  }
  
  .logo {
     width:50px; 
     height:auto; 
     margin-right:10px;
     background-color: rgba(0, 0, 0, 0.5);
  }
  
  .tags {
     color:#ccc; 
  }
  
  .card:hover {
    transform: rotate(20deg); /* Rotate on hover */
  }